---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
$monospace  : Monaco, Consolas, "Lucida Console", monospace;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

// syntax highlight


@import "minimal-mistakes"; // main partials


// This part is for code blocks
code {
    font-family: $monospace;
    font-size: 1.22em;
  }
  
  // This part is for inline code
  p > code,
  a > code,
  li > code,
  figcaption > code,
  td > code {
    padding-top: 0.02rem;
    padding-bottom: 0.02rem;
    font-size: 0.94em;
  }