---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$monospace: "Fira Code Medium", "Menlo", "Inconsolata", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;

$right-sidebar-width-narrow: 140px !default;
$right-sidebar-width: 215px !default;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

// syntax highlight: material theme modified from Apple default
$base00: #2f3d44fb;
$base01: #2c393fd5;
$base02: #37474F;
$base03: #707880;
$base04: #C9CCD3;
$base05: #d3d9e6;
$base06: #D5DBE5;
$base07: #ffffff;
$base08: #EC5F67;
$base09: #EA9560;
$base0a: #ffcb6b;
$base0b: #8BD649;
$base0c: #80CBC4;
$base0d: #7abdd8;
$base0e: #7c99d8;
$base0f: #c0656a;

@import "minimal-mistakes"; // main partials


// This part is for code blocks
code {
    font-family: $monospace;
    font-size: 1.1em;
  }
  
  // This part is for inline code
  p > code,
  a > code,
  li > code,
  figcaption > code,
  td > code {
    padding-top: 0.02rem;
    padding-bottom: 0.02rem;
    font-size: 0.9em;
  }

  // makes middle column wider
  .page {
    @include breakpoint($large) {
      float: right;
      width: calc(100% - #{$right-sidebar-width-narrow});
      padding-right: $right-sidebar-width-narrow;
    }
  
    @include breakpoint($x-large) {
      width: calc(100% - #{$right-sidebar-width});
      padding-right: $right-sidebar-width-narrow;
    }
  }