name: MATLAB Tests

on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
      
    - name: Set up MATLAB
      uses: matlab-actions/setup-matlab@v2
      with:
        release: R2023b
        
    - name: Run tests
      uses: matlab-actions/run-tests@v2
      with:
        test-results-junit: test-results.xml
        code-coverage-cobertura: code-coverage.xml